/*style sheet for options.html*/
@font-face{
  font-family: 'Lobster';
  src: url('fonts/Lobster_1.3.otf');
}

body{
  background-color: #e0d8c9;
}

button{
  color: #666666;
  cursor: pointer;
}

#status, #server_status{
  color: #666666;
  font-family: 'Lobster';
}

fieldset{
  border: none;
}

fieldset#server_form, #user{
  display: none;
}

.glyph_table {
  border-collapse: collapse;  
  line-height: 4px;
}

#glyph_div {
  border:1px solid #333;
  background:#daffff;
  padding:1px 1px;
  color:#333;
  font:14px Helvetica;
  width:34px;
}

.lobster {
  font-family:'lobster';
}

label {
  display:inline; 
  position:relative;
  margin-left: 0.2em; 
  _top:0.2em; }

input { 
  display: inline; 
  margin-left: 0.5em; 
}

.whitelist_url{
  margin-left: 0;
  width: 270px;
  padding-left: 5px;
  margin-bottom: 6px;
  display: inline;
}

#add_more_urls{
  cursor: pointer;
}

#save{
  margin-left: 135px;
}

.remove_whitelist{
  cursor: pointer;
  -webkit-filter:invert(30%);
}

.remove_whitelist:hover{
  -webkit-filter:invert(0%);
}
