/*Universal Style Sheet, all pages include this one*/
@font-face{
  font-family: 'Lobster';
  src: url('fonts/Lobster_1.3.otf');
}

button{
  color: #666666;
  cursor: pointer;
}

#status, #server_status{
  color: #666666;
  font-family: 'Lobster';
}

fieldset{
  border: none;
}

fieldset#server_form, #user{
  display: none;
}

#glyph_table {
  border:1px solid #333;
  background:#f7f5d1;
  padding:1px 1px;
  color:#333;
  font:14px Helvetica;
  width:120px;
}

.lobster {
  font-family:'lobster';
}

label {
  display:inline; 
  position:relative;
  margin-left: 0.2em; 
  _top:0.2em; }

input { 
  display: inline; 
  margin-left: 0.5em; 
}
